.buttonHeader {
    background-color: black;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: goldenrod;
    font-weight:bold;
    border: 10px white;


}

.buttonHeader:hover {
    background-color: goldenrod;
    color: black;
}

nav {
    float: left;
    width: available;
    height: auto;
    background: grey;
    padding: 20px;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    height: auto;
    background-color: lightgray;

}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: dimgrey;
    padding: 10px;
    text-align: center;
    color: white;
}



body {
    background-color: dimgrey;
}

.button {
    border-radius: 15px;
    background-color: lightslategray;
    color: black;
    font-size: 15px;
    font-weight:bold;
    text-align: center;
    border: 3px solid black;
    padding: 2px 12px;

}

.button:hover {
    background-color: black;
    color: lightslategray;
}

.buttonDelete {
    border-radius: 15px;
    background-color: red;
    color: whitesmoke;
    font-size: 15px;
    font-weight:bold;
    text-align: center;
    border: 3px solid black;
    padding: 2px 12px;
}

.buttonDelete:hover {
    background-color: whitesmoke;
    color: red;
}

.msg, .msgdate, .text{
    color: greenyellow;
    font-size: 25px;
}

