<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new message</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body >
<form th:action="@{/addmsg}" method="post" th:object="${newMessage}" >

    <p>New message: <input type="text" th:field="*{text}"/></p>

    <p><input class="button" type="submit" value="Add new message"/></p>


</form>

<object data="/msg" width="100%" height=500></object>

</body>
</html>