<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<h1>Find Best Answer To Your Question</h1>
<br><br><br>
<div>
    <form action="/login">
        <button type="submit">LOGIN</button>
    </form>
    <br>
    <form action="/msg">
        <button type="submit">MESSAGE</button>
        <BR>
    </form>
    <BR>
    <form action="/about">
        <button type="submit">ABOUT</button>
    </form>



</div>


</body>
</html>