<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header> Find Best Answer To Your Question</header>
<hr>
<br>
<div>
            <form action="/login">
                <button class="button" type="submit">LOGIN</button>
            </form>
            <BR>
<!--            <form action="/msg">-->
<!--                <button class="button" type="submit">MESSAGE</button>-->
<!--            </form>-->


    <form action="/about">


        <button class="button" type="submit">ABOUT</button>
    </form>
</div>






</body>
</html>