<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<BR>
<form th:action="@{/login-process}" method="post">
    <label for="inputLogin">Login</label>
    <input type="text" name="login" id="inputLogin" placeholder="login"/>

    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" name="password" placeholder="password"/>

    <button class="button" type="submit">LOGIN</button>

    <span th:action="@{/logout}" th:method="post">
    <button class="button" type="submit">LOGOUT</button>
    </span>

    <span class="text" th:text="'Logged: ' + ${userLogin}"></span>
</form>



</body>
</html>