<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div><h2>MESSAGE:</h2></div>
<div >
<span th:each="message : ${messageDTOList}">
        <form action="/deletemsg" method="post" th:object="${message}">
            <span type="hidden" th:id="${message.id}"/>
            <span th:text="${message.timestamp}"/>
            <div>
            <span th:text="${message.text}"/>
            </div>
                <br>
            <span>
                <input type="hidden" name="id" th:value="${message.id}"/>
                <button class="buttonDelete" type="submit">Remove</button>
            </span>
        </form>
    </span>
</div>
</body>
</html>